@import "variables.less";

/******* Header *******/
.nav{
    
  &-bg{
    background: url(../images/bg_header.png);
    background-size: 100% auto;
    background-position: bottom;    
    background-repeat: no-repeat;
  } 
  &bar{
 
    &-brand{
      position: relative;
      top: 50px;
      margin:0;
    }
    & img{
      height: 100px;
    }
    &-nav li a{
      text-transform: uppercase;
      font-size: 13px;
    }   
  }
  &igation{
      &-head{
        height: 70px;
        &:before {
            position: absolute;
            content: '';
            top: 70px;
            height: 1px;
            background: #cccccc91;
            width: 45%;
            left: 0;
        }
        &:after {
            position: absolute;
            content: '';
            top: 70px;
            height: 1px;
            background: #cccccc91;
            width: 45%;
            right: 0;
        }
      }
      &-menu-{
          &top{
            position: relative;
            left: 10%;
              & li{
                  margin-left: 32px;
                  & a{
                    color: @color-white !important;
                    font-family:sfRegular;
                  }
              }
          }
          &bottom{
            position: relative;
            right: 15%;
              
            & li{
              margin-left: 32px;
                
              & a{
                color: @color-white !important;
                font-family:sfRegular;  
              }
              &:nth-child(2){
                margin-top: 10px;
              }
            }
          } 
      }
    }

    &-white-bg{
        background: @color-white;
        position: fixed !important;
        width: 100%;
        box-shadow: 0px 4px 19px @my-grey;
        z-index: 999;
        transition: color 1s ease 0s;
        height: 90px !important;

        &:before{
           background: #fff !important;
        }
        &:after{
           background: #fff !important;
        }
        & .navbar-nav li a{
           color: @my-blue !important;
           font-weight: 500; 
              
        }
        & .default-logo{
           display: none;
        }
        & .navbar-brand{
            background: transparent;
            margin-top: 0 !important;
        }
        & .stiky-logo{
            display: block !important; 
            height: 60px;
        }
    }
}



/********* Fix Navbar ***********/

.stiky-logo{
    display: none;
}

.nav-white-bg .navbar-brand{
    background: transparent;
    margin-top: 0 !important;
    top: 0;
}

.align-font{
    padding: 94px 0;
    color: @color-white; 
    &  h3{
        font-size: 23px;
        text-transform: uppercase;
        font-weight: 400;   
    }
    & p {
        font-size: 11px;
        & .fa-clock-o{
            font-size: 21px;
            position: relative;
            top: 3px;
        }
        & .btn{
            background: transparent;
            border: 1px solid @color-white;
            font-size: 9px;
            border-radius: 24px;
            margin-left: 18px;
            text-transform: uppercase;
            padding-right: 35px;  
            padding-left: 34px;
        }
        & span{
            font-size: 14px;
            position: absolute;
            margin-top: 0px;
            margin-left: -24px;  
        }
        
    }
}

.logout-icon{
    max-height: 15px;
    margin-right: 4px;  
}
.user-image img{
    max-height: 40px;
    margin-right: 20px;
    border: 1px solid @color-white;
    border-radius: 100%;
}


