
/******* Media Query ***********/

@media(min-width: 320px) and (max-width: 480px){

    .nav{
        &-bg{
            background-size: cover;  
            & .navigation-head{
                height: auto !important;
            }
        }
        &-white-bg{
          position: inherit !important;
        }  
        &bar{
            &-brand{
                margin-top: 10px;  
                left: 10;
                background: transparent !important;
                & img{
                    top: 0 !important;
                }
            }
        }
        &igation{
            &-menu{
                &-top{
                    position: relative;
                    left:0 !important;
                    & li{
                        margin-left: 0px;
                        border-bottom: 1px solid #ccc;
                        & a{
                            color: #fff !important;
                        }
                    }
                }
                &-bottom{
                    position: relative;
                    right: 0 !important;
                    & li{
                      margin-left: 0;
                      border-bottom: 1px solid #ccc;
                      & a{
                          color: #fff !important;
                      }
                    }
                }
                
            }
        }
    }
    
    

    .title-bar .triangularline{
        width: 100%;
    } 



    .align-font {
        padding: 26px 0;
        color: #fff;
    }
    
    
    
    .footer{
        &-bg{
            height: auto; 
            background-size: auto;   
            padding-top: 18px;
        }
        &-social {
            list-style: none;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        &-logo{
             & img{
                margin:29px 0 !important;  
                top: 0;
            }
        }
        
    }
        
    /* Register screen */
    .register{
        &-box{
            &-bg {
                background: #fff !important;
                width: 100%;
                padding: 10px !important;
                height: auto !important;
                box-shadow: 1px 1px 10px #ccc !important;
                padding-bottom: 70px !important;
            }
            &-space {
                margin-top: 20px;
            }

        }
        &-bg-section{
             padding-top: 20px;
        }
    }

    
    .form-box {
        background: #fff  !important;
        width: 100%;
        height: auto !important;
        padding: 73px 18px !important;
        & .left-box-img img {
            position: relative;
            top: 0;
            left: 0;
        }
    }


    .space-boxes-checked {
        position: relative;
        top: 53px;
        left: 0;
    }
    .btn-float {
        margin-top: 11px;
        position: relative;
        left: 17px;
        float: left;
    }

    
}

/*end*/




/******** 481 *********/

@media(min-width: 481px) and (max-width: 768px){

    
    .nav{
        &-bg{
            background-size: cover;  
            & .navigation-head{
                height: auto !important;
            }
        }
        &bar{
            &-brand{
                margin-top: 10px;  
                background: transparent !important;
                & img{
                    top: 0 !important;
                }
            }
        }
        &-white-bg{
          position: inherit !important;
        } 
        &igation{
            &-menu{
                &-top{
                    position: relative;
                    left: 0% !important;
                    & li{
                        border-bottom: 1px solid #ccc;  
                    }
                }
                &-bottom{
                    position: relative;
                    right: 0% !important;
                    & li{
                        border-bottom: 1px solid #ccc;  
                    }
                }
            }
        }
    }
    

    
    .title-bar .triangularline{
        width: 100%;
    }    
    .align-font {
        padding: 26px 0;
        color: #fff;
    }
    
    .footer{
        &-bg{
            height: auto; 
            background-size: auto;  
            padding-top: 75px; 
        }
        &-social {
            list-style: none;
            text-align: center;
            margin: 0;
            padding: 0;
        }
    }
    

    
    .box-detail{
        margin: 41px 0px;  
        &-body{
            & .float-{
                &right {
                    float: none !important;
                    text-align: center;
                    margin: auto;
                    display: block;
                }
                &left {
                    float: none !important;
                    text-align: center;
                    margin: auto;
                    display: block;
                }
            }
        }
    }

    .boxes-space .box-detail {
        margin: 68px 0px !important;
    }
    .btn-light{
        font-size: 8px !important;
    }
    .blue-dark-btn{
       font-size: 8px !important; 
    }


} /*end*/



/* Register screen */
.register-box{
    &-space {
        margin-top: 20px;
    }
    &-bg {
        background: #fff !important;
        width: 100%;
        padding: 30px 29px !important;
        height: 310px !important;
        box-shadow: 1px 1px 10px #ccc !important;
    }
}
.form-box {
    background: #fff !important;
    width: 100%;
    height: 380px !important;
    background-size: cover;
    padding: 0px 12px !important;
    & .left-box-img img {
        position: relative;
        top: 33%;
        left: 14%;
    }
}

.space-boxes-checked {
    position: relative;
    top: 70px;
    left: 32px;
}


.login-bg-section{
    padding-top: 0;
    padding-bottom: 0; 
}




/******** 1024 *********/

@media(max-width: 1024px){

    .title-bar .triangularline{
        width: 100%;
    } 

    .nav{
        &-bg{
            background-size: cover; 
            & .navigation-head{
                height: 70px;
            }
        }
        &bar{
            &-brand{
                margin-top: 10px;  
                & img {
                    height: 68px;
                    position: relative;
                    left: 10px;
                    top: 17px;
                }
            }
        }
        &igation{
            &-menu{
                &-top{
                    position: relative;
                    left: 0;
                }
                &-bottom{
                    position: relative;
                    right: 5%;
                }
            }
        }
        &-white-bg .navbar-brand img{
            top: 0;
        }
    }
    
    

    
    .align-font {
        padding: 26px 0;
        color: #fff;
    }
    .footer-bg {
        background: url(../images/footer.png);
        height: auto;
        padding-top: 86px;
    }

    
    /* Register */
    .form-box {
        background: url(../images/bg_white_with_triangle.png);
        width: 100%;
        height: 491px;
        background-size: cover;
        padding: 40px 89px;
    }
    .register-box-bg {
        background: url(../images/bg_trianglle_white2.png);
        width: 100%;
        background-size: 100% auto;
        padding: 26px 97px;
        height: 385px;
    }

}/*end*/


.step-icons li img.active{
  display: none;
}

@media(min-width: 769px) and (max-width: 991px){

    .nav{
        &-bg{
          background-position: top;
            & .navigation-head{
              height: auto;
            }
        }
        &bar{
            &-brand{
              background:transparent;
                & img{
                  top: 0;
                }
            }
        }
    }

}/*end*/



@media(max-width: 1145px){
    .nav{
        &-bg{
          background-size: cover ; 
        }
        &igation-menu-{
            &top{
                position: relative;
                left: 0;
            }
            &bottom{
                position: relative;
                right: 5%;
            }
        }
    }
}
