@body-bg: #f7f7f7;
@color-white: #fff;
@color-black: #000;
@color-grey: #333;

@brand-img-bg: #011c46;
@my-grey-light: #e5e5e5;
@my-grey: #cccccc;
@my-blue-very-light: #3dbfef;  
@my-blue-light: #2f93c3;  
@my-blue-dark-btn: #2c5b93;  
@my-blue: #012e75;  
@my-blue-shade: #2b5d95;
@my-yellow: #d6bf18;
@my-yellow-light: #e1d36d;
@my-yellow-light-box: #E2EFBF;
@card-header-border: #dd9f14;
@parrot-green: #17cc31; 
@progress-bar-bg: #60C5AD; 
@progress-bar-bg-dark: #5bbba4;
@progress-bar-bg-purple: #9395fa;
@progress-bar-bg-purple-light: #8891e8;



@font-face {
   	font-family:sfBlack;
  	src: url(../css/fonts/SF-Pro-Display-Black.otf);
}
@font-face {
   	font-family:sfBold;
  	src: url(../css/fonts/SF-Pro-Display-Bold.otf);
}
@font-face {
   	font-family:sfHavy;
  	src: url(../css/fonts/SF-Pro-Display-Heavy.otf);
}
@font-face {
   	font-family:sfmedium;
  	src: url(../css/fonts/SF-Pro-Display-Medium.otf);
}
@font-face {
   	font-family:sfRegular;
  	src: url(../css/fonts/SF-Pro-Display-Regular.otf);
}
@font-face {
   	font-family:sfsemiBold;
  	src: url(../css/fonts/SF-Pro-Display-Semibold.otf);
}
@font-face {
   	font-family:sfsmooth;
  	src: url(../css/fonts/Smooth Circulars.otf);
}
@font-face {
   	font-family:sfgeneral;
  	src: url(../css/fonts/STIXGeneral.otf);
}





